<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<replace th:replace="replace::head"></replace>
<body>
<replace th:replace="replace::header"></replace>
<div class="box">
    <div class="blank"></div>
    <div class="infosbox">
        <div class="newsview">
            <h3 class="news_title">个人博客，属于我的小世界！</h3>
            <div class="bloginfo">
                <ul>
                    <li>
                        <img class="f_l" src="../img/eye.ico" height="18px" width="18px"/>&nbsp;4567
                    </li>
                    <li>
                        <img class="f_l" src="../img/heart.ico" height="14px" width="14px" style="margin-top: 2px;"/>&nbsp;8888888
                    </li>
                    <li>
                        <img class="f_l" src="../img/time.ico" height="14px" width="14px" style="margin-top: 2px;"/>&nbsp;2018-5-13
                    </li>
                </ul>
            </div>
            <div class="tags"><a href="/" target="_blank">个人博客</a> &nbsp; <a href="/" target="_blank">小世界</a></div>
            <div class="news_about">
                <strong>简介</strong>
                <span th:text="${blog.synopsis}">
                </span>
            </div>
            <div class="news_con" th:utext="${blog.content}"></div>
        </div>

        <div class="otherlink">
            <h2>相关文章</h2>
            <ul>
                <li><a href="/download/div/2018-04-22/815.html" title="html5个人博客模板《黑色格调》">html5个人博客模板《黑色格调》</a></li>
                <li><a href="/download/div/2018-04-18/814.html" title="html5个人博客模板主题《清雅》">html5个人博客模板主题《清雅》</a></li>
                <li><a href="/download/div/2018-03-18/807.html" title="html5个人博客模板主题tml5个人博客模板主题tml5个人博客模板主题《绅士》">html5个人博客模l5个人博客模l5个人博客模l5个人博客模板主题《绅士》</a></li>
            </ul>
        </div>
        <div class="news_pl">
            <h2>文章评论</h2>
            <ul>
                <div class="gbko"></div>
            </ul>
        </div>
    </div>
    <replace th:replace="replace::aside"></replace>
</div>
<div class="blank"></div>
<replace th:replace="replace::footer"></replace>
</body>
</html>
