<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<replace th:replace="replace::head"></replace>
<body>
<replace th:replace="replace::header"></replace>
<div class="box">
    <div class="blank"></div>
    <div class="infosbox">
        <div class="newsview">
            <h3 class="news_title" th:text="${blog.title}"></h3>
            <div class="bloginfo">
                <ul>
                    <li><img class="f_l" src="../img/eye.ico" height="18px" width="18px"/><b style="margin-left: 5px"
                                                                                             th:text="${blog.viewCount}"></b>
                    </li>
                    <li><img class="f_l" src="../img/heart.ico" height="14px" width="14px" style="margin-top: 2px;"/><b
                            style="margin-left: 5px" th:text="${blog.favoriteCount}"></b></li>
                    <li><img class="f_l" src="../img/time.ico" height="14px" width="14px" style="margin-top: 2px;"/><b
                            style="margin-left: 5px" th:text="${blog.time}"></b></li>
                </ul>
            </div>
            <div class="tags">
                <a th:href="@{/list/category/{id}(id=${c.id})}" target="_blank" th:each="c:${categoryList}"
                   th:text="${c.name}"></a>
            </div>
            <div class="news_about">
                <strong>简介</strong>
                <span th:text="${blog.synopsis}">
                </span>
            </div>
            <replace th:replace="replace::blogView"></replace>
        </div>

        <div class="otherlink">
            <h2>相关文章</h2>
            <ul>
                <li th:each="item:${linkList}">
                    <a th:href="@{/info/{blogId}(blogId=${item.blogId})}" target="_blank" th:title="${item.title}"
                       th:text="${item.title}"></a>
                </li>
            </ul>
        </div>
        <div class="news_pl">
            <h2>文章评论</h2>
            <ul>
                <div class="gbko"></div>
            </ul>
        </div>
    </div>
    <replace th:replace="replace::aside"></replace>
</div>
<div class="blank"></div>
<replace th:replace="replace::footer"></replace>
</body>
</html>
