<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<replace th:replace="replace::head"></replace>
<body>
<replace th:replace="replace::header"></replace>
<div class="box">
    <div class="place" id="pageContents">
        <a href="/list" target="_self" th:style="${categoryId} == null? 'background: #333333;color: #ffffff;'">全部分类</a>
        <a th:href="@{/list/category/{id}(id=${category.id})}" target="_self" th:style="${categoryId} eq ${category.id}? 'background: #333333;color: #ffffff;'" th:each="category:${baseCategoryList}" th:text="${category.name}"></a>
    </div>
    <replace th:replace="replace::blogList"></replace>
    <replace th:replace="replace::aside"></replace>
    <replace th:replace="replace::pagelist"></replace>
</div>
<replace th:replace="replace::footer"></replace>
</body>
</html>