<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<replace th:replace="replace::head"></replace>
<body>
<replace th:replace="replace::header"></replace>
<div class="box">
    <div class="newsview">
        <h2>登陆页面</h2>
        <form action="/login/pwd" method="post">
            <br>
            请输入密码 : <input type="password" name="psd" value="12345" />
            <input type="submit" value="login" />
        </form>
    </div>
</div>
<replace th:replace="replace::footer"></replace>
</body>
</html>