<!doctype html>
<html>
<replace th:replace="replace::head"></replace>
<body>
<replace th:replace="replace::header"></replace>
<article>
    <div class="timebox">
        <ul>
            <li th:each="item:${timelineList}">
                <span th:text="${item.time}"></span><i><a th:href="@{/info/{blogId}(blogId=${item.blogId})}"
                                                          th:text="${item.title}" target="_blank"></a></i>
            </li>
        </ul>
    </div>
    <replace th:replace="replace::timelinePage"></replace>
</article>
<replace th:replace="replace::footer"></replace>
</body>
</html>
