* {
	margin: 0;
	padding: 0;
}

body {
	background:#666666;
}

.f_lf {
	float: left;
}

.f_rt {
	float: right;
}

.a1 {
	background:#fafafa;
	box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	border-radius:4px;
	min-height:600px;
}

.c1{
	color:black;
	font-size:28px;
	font-weight: 500;
	margin-bottom:16px;
}

.c2 {
	color:rgb(119, 119, 119);
	font-size:12px;
	margin-bottom:16px;
}

.d1 {
	list-style:none;
	font-size:14px;
	color: #999999;
}

.d1 li {
	margin-bottom:10px;
}

.d1 span {
	width: 80px;
	margin-right:20px;
}

.d1 a {
	font-size:13px;
	font-family:console;
	color: #22BAD9;
	text-decoration:none;
}

.d1 a:hover {
	background-color:#22BAD9;
	color: #ffffff;
}

@media only screen and (max-width: 600px) {
	.a1{
		width:100%;
		min-height: 100vh;
		border-radius:0px;
	}
	
	.b1 {
		padding:30px 20px;
	}
}

@media only screen and (min-width: 600px) {
	.a1{
		margin:30px auto;
		width:90%;
	}
	
	.b1 {
		padding:30px 40px;
	}
}

@media only screen and (min-width: 888px) {
	.a1{
		margin:50px auto;
		width:800px;
	}
	
	.b1 {
		padding:50px 80px;
	}
}