.e1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: whitesmoke;
}

.f1 {
	margin:50px auto;
	max-width:1650px;
	min-height: 600px;
}

.g1 {
	width: 49%;
	height: 49%;
	max-width: 800px;
	min-height: 600px;
	background: gray;
}