<!doctype html>
<head>
    <meta charset="utf-8">
    <title>abcdefg</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/base.css" rel="stylesheet"/>
</head>
<body>
<div class="a1">
	<div class="b1">
		<ul class="d1">
			<form method="post" action="/temp/login">
				<li>
					<span>用户名：</span>
					<input type="text" name="loginName" />
				</li>
				<li>
					<span>密&nbsp;&nbsp;&nbsp;码：</span>
					<input type="password" name="password" />
				</li>
				<li>
					<input type="submit" />
				</li>
			</form>
		</ul>
	</div>
</div>
</body>
</html>