<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<replace th:replace="replace::head"></replace>
<body>
<replace th:replace="replace::header"></replace>
<div class="box">
    <div class="blank"></div>
    <div class="infosbox" style="float: none;margin: 0 auto;">
        <div class="newsview">
            <h2>博客详情</h2>
            <form id="blogForm" method="post" action="/admin/update/blog">
                <input type="text" th:value="${blog.blogId}" name="id" hidden/>
                <ul>
                    <li>标题 : <input onkeyup="compile('title',this)" type="text" th:value="${blog.title}" name="title"/></li>
                    <li>状态 : <input type="text" th:value="${blog.status}" name="status"/></li>
                    <li>权重 : <input type="text" th:value="${blog.weight}" name="weight"/></li>
                    <li>描述 : <br>
                        <textarea maxlength="140" onkeyup="compile('synopsis', this)" wrap="soft"
                                  th:text="${blog.synopsis}" rows="6" style="width: 60%;resize: none"
                                  name="synopsis"></textarea>
                    </li>
                    <li>内容 : <br>
                        <textarea id="content" wrap="soft" onkeyup="compileMarkdown()" th:text="${blog.content}" rows="10"
                                  style="width: 100%;resize: vertical" name="content"></textarea>
                    </li>
                </ul>
            </form>
            <h2 style="margin-top: 40px">预览</h2>
            <hr style="margin: 20px 0;">
            <h3 id="title" class="news_title" th:text="${blog.title}"></h3>
            <div class="bloginfo">
                <ul>
                    <li><img class="f_l" th:src="@{/img/eye.ico}" height="18px" width="18px"/><b
                            style="margin-left: 5px">0</b></li>
                    <li><img class="f_l" th:src="@{/img/heart.ico}" height="14px" width="14px"
                             style="margin-top: 2px;"/><b style="margin-left: 5px">0</b></li>
                    <li><img class="f_l" th:src="@{/img/time.ico}" height="14px" width="14px" style="margin-top: 2px;"/><b
                            style="margin-left: 5px">2000-01-01 00:00</b></li>
                </ul>
            </div>
            <div class="tags">
                <a target="_blank">文章分类</a>
            </div>
            <div class="news_about">
                <strong>简介</strong>
                <span id="synopsis" th:text="${blog.synopsis}">
                </span>
            </div>
            <replace th:replace="replace::blogView"></replace>
            <h2 style="margin-top: 20px;width: 150px;cursor:pointer" onclick="submit()">审阅完毕，安排</h2>
        </div>
    </div>
    <aside></aside>
</div>
<replace th:replace="replace::footer"></replace>


<script>
    var converter = new showdown.Converter();

    function compileMarkdown() {
        var text = document.getElementById("content").value;
        var html = converter.makeHtml(text);
        document.getElementById("view").innerHTML = html;
    }

    function compile(id, obj) {
        document.getElementById(id).innerHTML  = obj.value;
    }

    function submit() {
        document.getElementById('blogForm').submit();
    }
</script>
</body>
</html>
